@model IEnumerable<fire_station_training_and_vehicle.Models.Vehicle>

@{
    ViewData["Title"] = "Vehicles";
}

<h1>Vehicles</h1>


<div class="row ms-5 g-0">
    <div class="col-lg-10">
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.LicencePlate)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.LicenceExpiry)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.VehicleStatus)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Station)
                    </th>
                   
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LicencePlate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LicenceExpiry)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VehicleStatus)
                        </td>
                      
                        <td>
                            @Html.DisplayFor(modelItem => item.Station.Name)
                        </td>
                      
                        <td>
                            <a class="link-primary" asp-action="Edit" asp-route-id="@item.VehicleId">Edit</a> |
                            <a class="link-info" asp-action="Details" asp-route-id="@item.VehicleId">Details</a> |
                            <a class="link-danger" asp-action="Delete" asp-route-id="@item.VehicleId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
