@model IEnumerable<fire_station_training_and_vehicle.Models.Course>

@{
    ViewData["Title"] = "Courses";

}

<h1>All courses</h1>


<div class="row ms-5 g-0">
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <div class="col-lg-6">
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Details)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RenewalPeriod)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Details)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RenewalPeriod)
                        </td>
                        <td>
                            <a class="link-primary" asp-action="Edit" asp-route-id="@item.CourseId">Edit</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
