@model fire_station_training_and_vehicle.Models.Event

@{
    ViewData["Title"] = "Mark Attendence";
}

<h1 class="text-center">Mark Attendence</h1>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="geo-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z" />
    </symbol>
    <symbol id="calendar3" viewBox="0 0 16 16">
        <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
        <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
    </symbol>
</svg>
<div class="row align-items-stretch mx-lg-5 g-4 py-5">
    <div class="col-md-4">
       
        @if (ViewBag.AttendUser.Count > 0)
        {
            <h2>List of students</h2>
            <form id="frmAttendUser">
                @foreach (var item in ViewBag.AttendUser)
                {
                    <div>
                        <input type="checkbox" id="@item.User.Id" name="@item.User.Id" value="@item.User.Id">
                        <label for="@item.User.Id">@item.User.FirstName</label>
                    </div>
                    <p class="col-sm-10" hidden id="eventId">
                        @item.EventId
                    </p>
                }
                <div class="form-group">
                    <input type="submit" onclick="submitForm();" value="Mark Attendence" class="btn btn2" />
                </div>
            </form>
        }
        else
        {
            <strong>Attendence has been marked for all students. It was 100%!!</strong>
        }
        <a class="link-primary" asp-action="TeacherEvents" asp-controller="Event">Back to List</a>
    </div>

</div>
<script>
    function submitForm() {

        var form = $("#frmAttendUser");
        var id = $("#eventId").html();

        //var data = $("#frmCourse").serialize();
        //if (!form.valid() || !form2.valid()) {
        //    return false;
        //}

        var selectedValues = [];
        $('input[type=checkbox]:checked').each(function () {
            selectedValues.push($(this).val());
        });


        $.ajax({
            url: '/Event/PostAttendence/',
            type: 'POST',
            data: { selectedValues: selectedValues, id: id },
            xhrFields: {
                withCredentials: false
            },
            success: function () {
                var redirectUrl = '@TempData["RedirectUrl"]';
                if (redirectUrl) {
                    // Perform a server-side redirect
                    window.location.href = redirectUrl;
                }
                //if(result.success){
                //    window.location.href = result.redirectUrl;
                //}

            },
            error: function (xhr, status, error) {
                // handle error

            }
        });
    }

</script>
